<div class = 'w-[clamp(300px,90%,1300px)] mx-auto flex justify-center items-center min-h-screen pt-32 pb-10 ' >
  <div id="cart-container" data-url="<%= load_cart_customer_client_cart_index_path %>" class = "w-full">
    <%= render 'shared/loading' %>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {
    const cartContainer = document.getElementById('cart-container');
   const url = cartContainer.dataset.url;
    function loadCart() {
      fetch(url)
        .then(response => response.text())
        .then(html => {
          cartContainer.innerHTML = html;
          initializeCart();
        })

    }

    loadCart();
  });
</script>
