<div class="w-full">
  <div class=" w-full flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Products</h1>
    <%= link_to 'Add Product', new_owner_product_path, class: 'bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600' %>
  </div>
  <div class = 'w-full'>
    <ul class="grid grid-cols-[1fr,1fr,1.25fr,1fr,1.25fr] items-center font-bold text-lg  mb-2 pb-2 border-b-[2px] border-b-gray-600 ">
      <li>Product Image</li>
      <li>Stock Level</li>
      <li>Product Name</li>
      <li>Price</li>
      <li>Action</li>
    </ul>
    <div id="owner_products_container" data-url="<%=load_products_owner_products_path  %>" class = "flex items-center flex-col ">
      <%= render 'shared/loading' %>
    </div>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {
       const ownerProductsContainer = document.getElementById('owner_products_container');
        const url = ownerProductsContainer.dataset.url;
     function load() {
       fetch(url)
         .then(response => response.text())
         .then(html => {
           ownerProductsContainer.innerHTML = html;
           initializeProducts();
         })
     }

     load();
       });
</script>
