<h3>Dear <%= @user.firstname %> <%= @user.lastname %>,</h3>
<p>Welcome aboard!</p>
<p>We're thrilled to have you join our Online Store community, where opportunities await and possibilities are endless.</p>

<p>Thank you for choosing us. We look forward to assisting you in achieving your shopping goals!</p>
<p>Best regards,</p>

<p>Your Online Store Community Team</p>
