<h3>Hi <%= @user.firstname %> <%= @user.lastname %>,</h3>
<p>We received your order on 16 May 2024 20:48. We’re getting your order ready and will let you know once it’s on the way. We wish you enjoy shopping with us and hope to see you again real soon!</p> 