<h3>Dear <%= @user.firstname %> <%= @user.lastname %>,</h3>
<p>Welcome aboard!</p>
<p>We're thrilled to have you join our Online Store community, where opportunities await and possibilities are endless.</p>

<p>We have received your registration, and your account status is currently <strong>PENDING</strong>. Please wait for the admin to approve your account.</p>
<p>Don't forget to confirm your account by clicking the link we've sent you, so you can open your Online Store account.</p>

<p>Thank you for choosing us. We look forward to assisting you in achieving your shopping goals!</p>
<p>Best regards,</p>

<p>Your Online Store Community Team</p>
