<div>

  <%= link_to 'Products', owner_products_path %>
  <%= link_to 'Customers', owner_customers_path %>
  <%= link_to 'Orders', owner_orders_path %>
  <%= link_to 'Registrations', owner_registrations_path %>
  
</div>
