<div class="w-full">
  <div class="w-full flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Order List</h1>
  </div>
  <div>
    <ul class="grid grid-cols-5 gap-4 items-center font-bold text-lg mb-2 pb-2 border-b-2 border-b-gray-600">
      <li class="py-2 px-4">Date</li>
      <li class="py-2 px-4">Order ID</li>
      <li class="py-2 px-4">Customer</li>
      <li class="py-2 px-4">Status</li>
      <li class="py-2 px-4">Total</li>
    </ul>
    <div id="owner_orders_container" data-url="<%=load_orders_owner_orders_path  %>" class = "flex items-center flex-col ">
      <%= render 'shared/loading' %>
    </div>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {
        const ownerOrdersContainer = document.getElementById('owner_orders_container');
         const url = ownerOrdersContainer.dataset.url;
      function load() {
        fetch(url)
          .then(response => response.text())
          .then(html => {
            ownerOrdersContainer.innerHTML = html;
            intitializeOwnerOrders();
          })
      }

      load();
        });
</script>
