<div class="w-[clamp(300px,90%,1000px)] mx-auto pt-36  ">
  <div id="orders_container" data-url="<%=  load_orders_customer_client_orders_path(status:params[:status]) %>" class = "">
    <%= render 'shared/loading' %>
  </div>
</div>
<div class = ' overlay hidden'>
  <script>
    document.addEventListener('turbo:load', function() {
      const ordersContainer = document.getElementById('orders_container');
     const url = ordersContainer.dataset.url;
      function load() {
        fetch(url)
          .then(response => response.text())
          .then(html => {
            ordersContainer.innerHTML = html;
            initializeOrder();
          })
      }

      load();
    });
  </script>