<div class='min-h-screen w-[clamp(300px,90%,1300px)] mx-auto flex flex-col justify-center relative gap-10'>
  <div id="checkout_container" data-url="<%=  load_checkout_customer_client_checkout_index_path %>" class = "flex items-center flex-col">
    <%= render 'shared/loading' %>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {
    const checkoutContainer = document.getElementById('checkout_container');
   const url = checkoutContainer.dataset.url;
    function loadCheckout() {
      fetch(url)
        .then(response => response.text())
        .then(html => {
          checkoutContainer.innerHTML = html;
          initializCheckout();
        })
    }

    loadCheckout();
  });
</script>