<div class='w-full pt-36 pb-12'>
  <div id="products-container" data-url="<%= load_products_customer_client_dashboard_index_path(category: params[:category], search: params[:search]) %>" class = "flex items-center flex-col">
    <%= render 'shared/loading' %>
  </div>
</div>
<div class='overlay hidden'></div>
<script>
  document.addEventListener('turbo:load', function() {
    const productsContainer = document.getElementById('products-container');
   const url = productsContainer.dataset.url;
    function loadProducts() {
      fetch(url)
        .then(response => response.text())
        .then(html => {
          productsContainer.innerHTML = html;
          initializeProductEvents();
        })

    }

    loadProducts();
  });
</script>