<% if channel_url.present? %>
  <div>
    <%= form_with(url: owner_send_message_path, method: :post, class: "mt-4 flex items-center gap-2") do |form| %>
      <%= form.text_field :message, placeholder: "Enter your message", class: " py-2 px-2 border border-gray-300 rounded w-full" %>
      <%= form.hidden_field :channel_url, value: params[:channel_url] %>
      <%= form.submit "Send Message", class: "bg-blue-500 text-white py-2 px-2 rounded " %>
    <% end %>
  </div>
<% end %>