@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.overlay::before {
  content: "";
  @apply fixed top-0 left-0 w-full h-full z-[100];
  background: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.message-container {
  opacity: 0;
  transition: opacity 600ms ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.log_in {
  @apply pt-10
}

.link_items a.active,
.log_in .active {
  @apply bg-blue-600 dark:bg-opacity-70 text-white;
}

.image_container:hover .image {
  @apply opacity-100;
  transition: 300ms;
}

.cart_item_container::-webkit-scrollbar,
.customers::-webkit-scrollbar,
.orders::-webkit-scrollbar,
#chat-messages::-webkit-scrollbar,
.product_items::-webkit-scrollbar {
  width: 12px;
}

.cart_item_container::-webkit-scrollbar-track,
.customers::-webkit-scrollbar-track,
.orders::-webkit-scrollbar-track,
#chat-messages::-webkit-scrollbar-track,
.product_items::-webkit-scrollbar-track {
  background: transparent;
}

.cart_item_container::-webkit-scrollbar-thumb,
.customers::-webkit-scrollbar-thumb,
.orders::-webkit-scrollbar-thumb,
#chat-messages::-webkit-scrollbar-thumb,
.product_items::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
  border-radius: 6px;
}


.bg-blue {
  background-color: #3056D3;
}

#street::placeholder,
#city::placeholder,
#zip_code::placeholder,
#state::placeholder,
#user_balance::placeholder,
#country::placeholder,
#number::placeholder,
#exp_month::placeholder,
#exp_year::placeholder,
#cvc::placeholder,
#name::placeholder,
#phone::placeholder,
#email::placeholder,
#product_name::placeholder,
#product_price::placeholder,
#product_description::placeholder,
#comment::placeholder {
  @apply text-gray-400 text-base;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #1a202c;
}

h2 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #1a202c;
}

h5 {
  margin-bottom: 0.6rem;
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.product-name {
  margin-bottom: 3px;
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1f2937;
}

.product-name:hover {
  color: #3b82f6;
}

body.fp-background {
  background-image: url('websitebg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.125em;
}


@media (min-width: 1280px) {
  .product-name {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
  }

  .product-name {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}


@media (max-width: 639px) {
  .product-name {
    font-size: 1.25rem;
  }
}