@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.log_in {
  @apply pt-10
}
.link_items a.active,
.log_in .active{
  @apply bg-blue-600  dark:bg-opacity-70 text-white;
}
.image_container:hover .image{
	@apply opacity-100;
	transition: 300ms;
}
.cart_item_container::-webkit-scrollbar {
  width: 12px;
}

.cart_item_container::-webkit-scrollbar-track {
  background: transparent;
}

.cart_item_container::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
  border-radius: 6px;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.25rem; 
    font-weight: 800; 
    line-height: 1; 
    letter-spacing: -0.025em; 
    color: #1a202c; 
}

h2 {
  font-size: 2.25rem; 
  font-weight: 800; 
  line-height: 1;
  letter-spacing: -0.025em;
  color: #1a202c;
}

h5 {
  margin-bottom: 0.6rem; 
  display: block;
  font-size: 1.125rem; 
  font-weight: 600; 
  color: #333333; 
}

.product-name {
  margin-bottom: 3px;
  display: block;
  font-size: 1.125rem;
  font-weight: 600; 
  color: #1f2937; 
}

.product-name:hover {
  color: #3b82f6; 
}



@media (min-width: 1280px) {
  .product-name {
    font-size: 1.25rem; 
  }
}

@media (min-width: 1024px) {
  h1{
      font-size: 3.75rem; 
  }

  .product-name {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  h1{
      font-size: 3rem; 
  }
}


@media (max-width: 639px) {
  .product-name {
    font-size: 1.25rem;
  }
}


