<div class='min-h-screen w-[clamp(300px,90%,1300px)] mx-auto flex flex-col justify-center relative gap-10'>
  <div id="payment_container" data-url="<%=  load_payment_customer_client_payments_path %>" class = "flex items-center flex-col">
    <%= render 'shared/loading' %>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {
    const paymentContainer = document.getElementById('payment_container');
   const url = paymentContainer.dataset.url;
    function load() {
      fetch(url)
        .then(response => response.text())
        .then(html => {
          paymentContainer.innerHTML = html;
        })
    }

    load();
  });
</script>